<div class="tape-hero">
    <span class="corner-tape tl"></span>
    <span class="corner-tape tr"></span>
    <span class="corner-tape bl"></span>
    <span class="corner-tape br"></span>
    <span class="sketch-label">v 2.4 prototype</span>
    <span class="measure-line"></span>
    <div>
        <h1>BUILD THINGS<br>THAT DON'T<br>COME BACK.</h1>
        <div class="sub">Robotics / Software / AI / CAD / Content</div>
    </div>
    <span class="workbench-badge">[ REV 4 ]</span>
</div>
