<div class="tape-hero">
    <span class="corner-tape tl"></span>
    <span class="corner-tape tr"></span>
    <span class="corner-tape bl"></span>
    <span class="corner-tape br"></span>
    <span class="sketch-label">v 2.4 prototype</span>
    <span class="measure-line"></span>
    <div>
        <h1>PROTOTYPING<br>WITH<br>QUESTIONABLE CONFIDENCE</h1>
        <div class="sub">{{#get "tags" limit="6"}}{{#foreach tags}}{{#if @first}}{{name}}{{else}} / {{name}}{{/if}}{{/foreach}}{{/get}}</div>
    </div>
    <span class="workbench-badge">[ REV 4 ]</span>
</div>
