<aside class="toc-sidebar" id="toc-sidebar">
    <div class="toc-box">
        <div class="toc-header">
            <span class="toc-label">Contents</span>
            <button class="toc-toggle" id="toc-toggle" onclick="toggleTOC()" aria-label="Toggle table of contents">v</button>
        </div>
        <div class="toc-tree" id="toc-tree"></div>
    </div>
</aside>
