{{!< default}}

<div class="article-wrap">
    <div class="article-header">
        <h1>{{title}}</h1>
        {{#if excerpt}}
        <p class="deck">{{excerpt}}</p>
        {{/if}}
    </div>

    <div class="article-main">
        <div class="article-body">
            {{content}}
        </div>
    </div>
</div>
